header{ 
    color: rgb(2, 22, 22);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}
body{
    background-color: rgb(245, 245, 239);
}
#whole{
    background-color: rgb(223, 154, 174);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px;
    height: 550px;
    width:  400px;
    border: 1px solid black;
    display : flex;
    flex-direction: column;
}
.Screen{
    background-color: rgb(143, 160, 142);
    height: 100px;
    width: 90%;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: right;
    font-size: 30px;
    
}
#display{
    padding-right: 20px;
    padding-top: 20px;
    color: rgb(2, 22, 22);
    font-size: 60px;
}
.rowDelete{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 35px;
    margin-top: 10px;
    gap : 20px;
}
.delete{
    background-color: red;
    color: white;
    padding: fixed 10px;
    border-radius: 5px;
    font-size: 30px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 25px;
}
.button{
    background-color: rgb(136, 142, 142);
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 30px;
}